<!DOCTYPE html>
<html >
    <head>
        <title>Spring Security Example</title>

        <!-- include: "type": "css", "files": "**/*.css" -->
        <link href="/static/bootstrap/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
        <link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
        <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/static/css/sb-admin-2.css" rel="stylesheet" type="text/css">
        <link href="/static/css/timeline.css" rel="stylesheet" type="text/css">
        <!-- /include -->
    </head>
    <body ng-app="">
        <h1>Welcome! TESTE</h1>

		<p>{{3 + 4}}</p>
		<p>Name : <input type="text" ng-model="name"></p>
 		<h1>Hello {{name}}</h1>

	
		<!-- include: "type": "js", "files": "**/*.js" -->
		<script src="/static/angular/angular.min.js"></script>
		<script src="/static/bootstrap/js/bootstrap.js"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/bootstrap/js/npm.js"></script>
		<script src="/static/jquery/jquery.min.js"></script>
		<!-- /include -->

    </body>
</html>