<!DOCTYPE html>
<html >
    <head>
        <title>Spring Security Example </title>
        <!-- bower:css -->
        <link rel="stylesheet" href="../../../../bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="../../../../bower_components/font-awesome/css/font-awesome.min.css" />
        <!-- endbower -->
        <meta name="_csrf" content="${_csrf.token}"/>
    </head>
    <body>
    
    	<p>{{3 + 4}}</p>
    
        <div >
            Invalid username and password.
        </div>
        <div >
            You have been logged out.
        </div>
        <form action="/login" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
        
        <!-- bower:js -->
        <script src="../../../../bower_components/jquery/dist/jquery.js"></script>
        <script src="../../../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="../../../../bower_components/angular/angular.js"></script>
        <!-- endbower -->
    </body>
</html>